.about-us-section {
  font-size: 22px;

  &__container {
    display: block;
    position: relative;
    gap: 32px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }

  &__text {
    display: flex;

    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    max-width: 320px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
      max-width: 709px;
      gap: 40px;
    }
  }

  &__span {
    font-weight: 600;
  }

  &__image {
    display: none;
    gap: 40px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    top: -50px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }

  &__image-first {
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-start;
  }

  &__image-second {
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-end;
  }
}
