.find-section {
  &__container {
    display: flex;
    text-align: center;
    flex-direction: column;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 96px;
    }
  }

  &__content {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 24px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      gap: 32px;
      margin-top: 48px;
    }
  }

  &__map {
    border: none;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0;
    height: 232px;

    @media screen and (min-width: $bp-desktop) {
      width: 605px;
      height: 480px;
      border-radius: 32px;
      margin-left: 0;
    }
  }

  &__form {
    padding: 42px 24px;
    width: 100%;
    height: 100%;
    background-color: var(--beauty-landing-2-c1);
    background-image: url('../imagers/background-form.png');
    border-radius: 48px;
    color: var(--beauty-landing-2-background);
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      max-width: 422px;
      max-height: 482px;
      padding: 48px 56px;
      margin: 0;
      height: 480px;
    }
  }

  &__modal-field {
    margin-bottom: 16px;
  }
}
