.header {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 56px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  &__icon-container {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
    }
  }

  &__icon {
    fill: var(--beauty-landing-2-c1);
  }

  &__burger {
    background-color: transparent;
    border: none;
    fill: var(--beauty-landing-2-background);
    padding: 0;
    z-index: 1;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }

  &__logo {
    z-index: 1;
  }
}
