.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(
      to right,
      #fff 0%,
      rgba(255, 255, 255, 0.78) 31.23%,
      rgba(255, 255, 255, 0.2) 50.39%,
      rgba(255, 255, 255, 0) 68.37%
    ),
    url(../imagers/background.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        #fff 0%,
        rgba(255, 255, 255, 0.78) 31.23%,
        rgba(255, 255, 255, 0.2) 50.39%,
        rgba(255, 255, 255, 0) 68.37%
      ),
      url(../imagers/background@2x.png);
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 160px 0 0 0;
    background-position: right top;
    background-image: linear-gradient(
        90deg,
        #fff 0%,
        rgba(255, 255, 255, 0.78) 31.23%,
        rgba(255, 255, 255, 0.2) 50.39%,
        rgba(255, 255, 255, 0) 68.37%
      ),
      url(../imagers/background.png);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    @media screen and (min-width: $bp-desktop) {
      width: 530px;
      margin-left: 250px;
      justify-content: flex-start;
      text-align: left;
      margin-top: 100px;
      align-items: flex-start;
    }
  }

  &__text {
    color: var(--beauty-landing-2-c3);
    font-size: 12px;
  }

  &__title {
    font-weight: 700;
    font-family: Play;
    padding: 0;
    text-transform: capitalize;
    color: var(--beauty-landing-2-s2);
    margin: 0;
    font-size: 54px;
    line-height: 85%;
    margin-bottom: 32px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 140px;
      line-height: 81%;
      padding-top: 40px;
      margin-bottom: 40px;
    }
  }

  &__third-title {
    font-weight: 400;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 238px;
    height: 103px;
    margin: 0 auto;
    justify-content: center;

    @media screen and (min-width: $bp-desktop) {
      gap: 14px;
      margin: 0;
    }
  }
}
