.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 42px 24px;
  background-color: var(--beauty-landing-2-c1);
  background-image: url('../imagers/background-form.png');
  border-radius: 48px;
  overflow: auto;
  color: var(--beauty-landing-2-background);
  text-align: center;

  @media screen and (min-width: $bp-desktop) {
    padding: 42px 144px;
    max-width: 730px;
    max-height: 680px;
    overflow: hidden;
  }

  &__title {
    color: var(--beauty-landing-2-background);
    margin-bottom: 20px;
    font-size: 40px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
    }

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 32px;
      width: 100%;
    }
  }

  &__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    font-weight: 500;
    font-family: Roboto;
    fill: transparent;
    background-color: transparent;
    stroke: var(--beauty-landing-2-background);
    border: none;
    cursor: pointer;

    @media screen and (min-width: $bp-desktop) {
      top: 50px;
      right: 50px;
    }
  }

  &__svg {
    width: 25px;
    height: 25px;

    @media screen and (min-width: $bp-desktop) {
      width: 32px;
      height: 32px;
    }
  }
}
