.procedures-section {
  &__content {
    text-align: center;
    margin-top: 96px;
    position: relative;
  }

  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
  }

  &__container {
    overflow: hidden;
  }
}
